/*
* CSS para configuração geral.
* Chamar em todas as paginas.
*/

/* Classes */
.width-form { margin: auto; padding: 10px; text-align: center; font-family: Courier, Comic Sans MS, Times, serif; }
.btn { border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin-top: 10px; }
.btn-margin-bottom { margin-bottom: 10px; }
.btn-block { width: 95%; margin-left: auto; margin-right: auto }
.btn-green { background-color: #4CAF50; } /* Green */
.btn-blue { background-color: #008CBA; } /* Blue */
.btn-red { background-color: #f44336; } /* Red */ 
.btn-gray { background-color: #e7e7e7; color: black; } /* Gray */ 
.btn-black { background-color: #555555; } /* Black */
.msg-success { background-color: #d4edda;  color: black; border: 1px solid #c3e6cb; width: 95%; margin: auto; padding-top: 7px; padding-bottom: 7px; margin-top: 10px; }
.msg-error { background-color: #f8d7da;  color: black; border: 1px solid #f5c6cb; width: 95%; margin: auto; padding-top: 7px; padding-bottom: 7px; margin-top: 10px; }
.version { opacity: 0.2; filter: alpha(opacity=5); /* For IE8 and earlier */; width: 95%; text-align: right; }
/* Modificação nas TAG */
label { margin-top: 1px; margin-bottom: 1px; }
select { width: 95%; border-radius: 4px; padding-top: 10px; padding-bottom: 10px; margin-top: 10px; }
select, option { font-family: Courier, Comic Sans MS, Times, serif; font-size: 20px; }
input { width: 95%; border-radius: 4px; padding-top: 10px; padding-bottom: 10px; margin-top: 10px; font-family: Courier, Comic Sans MS, Times, serif; font-size: 15px; }
table { margin: auto; width: 95%; border-collapse: collapse;  margin-top: 10px; }
table, th, td { border: 1px solid black; text-align: center; }